* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 10px;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-columns: 1fr;
    gap: 25px;
    background-color: aquamarine;
}

.sidebar > .head {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    place-items: center;
}

.logo {
    width: 120%;
    height: 120%;
    place-self: center;
}

.sidebar > .head > h4 {
    justify-self: start;
}

.sidebar > .menu {
    margin: 0 10px;
    display: grid;
    gap: 10px;
}

.sidebar > .menu > *, .sidebar > .foot > * {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 3px;
    align-items: center;
}

.sidebar > .foot {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header, .main-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.header {
    grid-template-columns: 1fr 2fr;
}

.header > .left,
.header > .right {
    display: grid;
}

.header > .left > .search-bar,
.header > .left > .info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;
}

.header > .left > .search-bar > img,
.avatar,
.header > .right > .notification-menu > * {
    object-fit: cover;
    max-width: 50%;
    max-height: 50%;
    place-self: center;
}

.header > .left > .search-bar > input {
    background-color: lightblue;
    border: solid 1px gray;
    border-radius: 8px;
}

.header > .right > .notification-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    gap: 10px;
}

.header > .right > .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
}

.header > .right > .nav > * {
    background-color: aquamarine;
    border: solid 1px gray;
    border-radius: 8px;
    padding: 10px;
    width: 5rem;
    text-align: center;
}

.main-content {
    background-color: lightblue;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.projects-container, .announcements-container{
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}

.announcements-container {
    grid-row: 1 / 2;
}

.projects, .announcements, .trendings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project, .announcement, .trending {
    background-color: whitesmoke;
    padding: 10px;
    border: solid 1px white;
    border-radius: 6px;
}


.trending-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
